.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 16px;
}

.book-list-container {
  height: 100vh;
  width: 100vw;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 16px;
  height: calc(100vh - 130px);
}
