.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px;
}

.pagination button:hover {
  background-color: #ddd;
}

.pagination button.active {
  background-color: #75a9e1;
  color: #fff;
  font-weight: bold;
}
